
/* editing paragraph style */
p {
    text-align: left;
    color: black;
    font-family: "Times New Roman";
}

h2 {
    text-align: center;
    color: red;
}

/* define table boarder settings */
table, th, td {
    border-color: orange;
    border-style: solid;
    border-width: 3px;
}

#par3 {
    text-align: center;
    font-size: 10px;
}

.orderedList {
    font-size: 16px;
    font-family: "Courier New";
}
/* defining image size */
img.logo {
    width: 267px;
    length: 72px;
}