<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Annika Meng</title>
    <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
    <!-- Creation of paragraphs about me-->
    <h1>Annika Meng</h1>
    <h2>About Me</h2>
    <p>
        Hello! I am currently a junior at the <strong>Robert H. Smith School of Business</strong> at
        the <strong>University of Maryland, College Park</strong> pursuing a dual degree in <em>Business
        Finance and Information Systems</em>. I am also a member of the <em>Advanced Cybersecurity Experience
        for Students</em> (ACES) Honors College.
    </p>
    <img class="logo" src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png" alt="Smith Logo">
    <h2>Experience</h2>
    <h3>Work Experience</h3>
    <p>
        Currently, I'm working as a tax preparer at Baker Tilly, where I handle tax
        filings to ensure accuracy and compliance. In the summer of 2023, I did a
        rotational internship at Baker Tilly, where I got a taste of tax, audit, and
        consulting work. Previously, I've interned as a software developer at
        Element Solution, working on data interoperability within the healthcare space.
        I have also served as a TA for Introduction to Information Systems at the University of Maryland,
        where I graded and assisted students in their excel projects. Looking forward,
        in the summer of 2024, I'll be joining EY as a cybersecurity consultant, and am excited to
        apply my skills in protecting digital systems.
    </p>
    <!-- Creation of unordered Lists -->
    <p>Technical Skills</p>
    <ul>
        <li>SQL</li>
        <li>Python</li>
        <li>Tableau</li>
        <li>Linux</li>
        <li>Excel</li>
        <li>R</li>
    </ul>
    <!-- Creation of Numbered Lists -->
    <h3>Course Experience</h3>
    <p>Favorite Courses:</p>
    <ol class="orderedList">
        <li>BMGT343</li>
        <li>BMGT302</li>
        <li>BMGT301</li>
        <li>BMGT340</li>
        <li>BMGT443</li>
    </ol>
    <!-- Creation of table to show course history-->
    <p>All Courses:</p>
    <table>
        <tr>
            <th>Semester</th>
            <th>Courses Taken</th>
        </tr>
        <tr>
            <td>Spring 2024</td>
            <td>BMGT380, BMGT 407, BMGT441, BMGT443, WGSS250</td>
        </tr>
        <tr>
            <td>Fall 2023</td>
            <td>BMGT364, BMGT402, BMGT403, BMGT430, ENGL394</td>
        </tr>
        <tr>
            <td>Spring 2023</td>
            <td>BMGT341, BMGT343, BMGT404, BMGT440, BMGT495</td>
        </tr>
    </table>

    <p id="par3">
        Thank you for viewing my website!
    </p>
    <p>Link to <a href="#hello.html">hello Page</a> on this web page.</p>
    <p>Link to <a href="https://www.youtube.com/">Youtube</a>.</p>
    <p>Link to <a href="https://www.google.com/calendar" target="_blank">Google Calendar</a>.</p>

</body>
</html>